:host {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.container {
  flex: 1;
  margin: 1em;

  flex-direction: column;
  gap: 1em;
  align-items: center;

  &.results {
    flex: 1;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2em;

    .result {
      flex-basis: 32%;
      gap: 2em;
    }
  }
}

.search {
  display: flex;
  flex: 1 1 100%;
}
