:host {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.container {
  flex: 1;
  margin: 1em;

  flex-direction: column;
  gap: 1em;
  align-items: center;

  &.results {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;

    .result {
      flex-basis: 32%;
      .result-card {
        flex: 1;
        display:flex;
      }
    }
  }
}

.search {
  display: flex;
  flex: 1 1 100%;
}
